@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');



.part2 li a{
    text-decoration: none;
    color: rgb(233, 236, 238);
}
.nav{
    height: 70px;
    /* background-color: black; */
    display: flex;
    /* gap: 20px; */
    /* justify-content: ; */
    align-items: center;
    /* border-bottom: 1px solid whitesmoke; */
    justify-content: space-between;
}

.nav img{
    height: 70px;
    width: auto;
}

.part1{
    margin-left: 15px;
    
}
.part1 a{
    text-decoration: none;
    color: rgb(233, 236, 238);
    font-family: 'Orbitron', sans-serif;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    font-family: cursive;
}

.part2 ul {
    display: flex;
    justify-content: space-evenly;
    gap: 150px;

}

li{
    list-style-type:none
}

.part3{
    margin-right: 30px;
}

.part3 img{
    padding: 8px;
    height: 30px;

    
}   

.part3 button:hover{
    color: black;
    background-color: rgba(235, 229, 229, 0.868);
    font-weight: bolder;
    font-size:16px ;
}

